.date-container {
    text-align: center;
}

.heading-section {
    padding: 60px 0px;
    background-color: black;
    color: white;
}

.calculation-choice {
    background-color: #ffd3d3;
    padding: 30px 30px;
    border: 1px solid black;
}

.calculation-choice .input-field {
    display: inline-block;
    margin-right: 15px;
    padding: 20px 0px;
}

.calculation-choice .button-field {
    margin: 10px 0px;
}

.button-field button {
    background: black;
    color: white;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 3px;
}

.calculation-choice .result-section {
    color: green;
}

.calculation-choice input {
    height: 30px;
    width: 200px;
    padding-left: 10px;
    margin-left: 5px;
}